# Python List:

### 1. Use the List1 = ['hello','great','learning']  to operate the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [2]:
list1 = ['hello','great','learning']
print(list1*5)

['hello', 'great', 'learning', 'hello', 'great', 'learning', 'hello', 'great', 'learning', 'hello', 'great', 'learning', 'hello', 'great', 'learning']

#### 1.B. Concatenation (+):

In [3]:
list1 = ['hello','great','learning']
print(list1+list1)

['hello', 'great', 'learning', 'hello', 'great', 'learning']

#### 1.C. Membership:

In [4]:
list1 = ['hello','great','learning']
print('hello' in list1)

True

#### 1.D. Length:

In [5]:
len(list1)

3

#### 1.E. Iteration:

In [6]:
for i in list1:
    print(i)

hello
great
learning

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the following
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]
                    seq = 'qwertyJH'

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.A)  max():

In [7]:
l = [15, 300, 2700, 821]
print(max(l))

2700

#### 2.B) min():

In [8]:
print(min(l))

15

#### 2.C) list:

In [11]:
 seq = 'qwertyJH'
 seq=list(seq)
 print(seq)

['q', 'w', 'e', 'r', 't', 'y', 'J', 'H']

### 3. Create your own lists to operate the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [13]:
l = [15, 300, 2700, 821]
l.append(25)
print(l)

[15, 300, 2700, 821, 25]

#### 3.B) list.clear():

In [14]:
l = [15, 300, 2700, 821]
l.clear()
print(l)

[]

#### 3.C) List.copy()

In [15]:
l = [15, 300, 2700, 821]
l1=l.copy()
print(l1)

[15, 300, 2700, 821]

#### 3. D) list.count(obj):

In [16]:
l = [15, 300, 2700, 821,15,15]
l.count(15)

3

#### 3.E) list.extend(seq):

In [18]:
l = [15, 300, 2700, 821]
l1=[27,29,52,36]
l.extend(l1)
print(l)

[15, 300, 2700, 821, 27, 29, 52, 36]

#### 3.F) list.index(obj):

In [19]:
l = [15, 300, 2700, 821]
l.index(2700)

2

#### 3.G) list.insert(index, obj):

In [21]:
l = [15, 300, 2700, 821]
l.insert(3,400)
print(l)

[15, 300, 2700, 400, 821]

#### 3.H) list.pop(index):

In [23]:
l = [15, 300, 2700, 821]
l.pop(1)
print(l)

[15, 2700, 821]

#### 3.I) list.remove(obj):

In [25]:
l = [15, 300, 2700, 821]
l.remove(300)
print(l)

[15, 2700, 821]

#### 3.j) list.reverse():

In [27]:
l = [15, 300, 2700, 821]
l.reverse()
print(l)

[821, 2700, 300, 15]

#### 3.K) list.sort():

In [29]:
l = [15, 300, 2700, 821]
l.sort()
print(l)

[15, 300, 821, 2700]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations
##### otherwise use the following
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

### 1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [31]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
Tuple1=Tuple1*5
print(Tuple1)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

#### 1.B. Concatenation (+):

In [32]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
print(Tuple1+Tuple2)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

#### 1.C) Membership:

In [33]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
print('a' in Tuple1)

True

#### 1.D) Length:

In [34]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
print(len(Tuple1))

4

#### 1.E) Iteration:

In [36]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')
for i in Tuple1:
    print(i)

a
b
c
d

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions 
##### otherwise use the following
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [37]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
print(max(Tuple1))

8765

#### 2.B) min():

In [38]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
print(min(Tuple1))

1

#### 2.*C*) Tuple:
seq = 'QWERTY'

In [39]:
seq = 'QWERTY'
seq=tuple(seq)
print(seq)

('Q', 'W', 'E', 'R', 'T', 'Y')

# Python Set

#### Create your own Set to operate the below Python Set Operations
#### otherwise use the below set:
        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [40]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

#### 1.B. Intersection

In [41]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(set1&set2)

{3, 4, 5, 6, 7}

#### 1.C. Difference

In [42]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(set1-set2)

{1, 2, 8, 876, 77}

####  1.D. Symmetric difference:

In [43]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
print(set1^set2)

{1, 2, 8, 876, 77, 432, 54, 567}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                            dict = {'Name': 'Student', 'Age': 27};

    A.	len(dict)     
    B.	str(dict)      
    C.	type(variable)

#### 1.A) len(dict):

In [45]:
dict = {'Name': 'Student', 'Age': 27}
print(len(dict))

2

#### 2.B) str(dict):

In [48]:
dict = {'Name': 'Student', 'Age': 27}
dict=str(dict)
print(dict)
print(type(dict))

{'Name': 'Student', 'Age': 27}
<class 'str'>

#### 1.C) type(variable):

In [49]:
dict = {'Name': 'Student', 'Age': 27}
print(type(dict))

<class 'dict'>

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [50]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
dict.clear()
print(dict)

{}

#### 2.B) dict.copy():

In [51]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
d1=dict.copy()
print(d1)

{0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy'}

#### 2.C) dict.fromkeys():

In [70]:
l1=[1,2,3,4,5]
s1={10,20,30,40,50}
dic1={}
dic.fromkeys(l1)
dic1=dic1.fromkeys(s1)
print(dic)
print(dic1)

{1: None, 2: None, 3: None, 4: None, 5: None}
{40: None, 10: None, 50: None, 20: None, 30: None}

#### 2.D) dict.get(key[, value]) :

In [71]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dict.get(1))

GREAT

#### 2.E) dict.items()

In [72]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dict.items())

dict_items([(0, ' Data'), (1, 'GREAT'), (2, 'LEARNING'), (3, 'Python'), (4, 'Happy')])

#### 2.F) dict.keys() :

In [73]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dict.keys())

dict_keys([0, 1, 2, 3, 4])

#### 2.G) dict.setdefault():

In [75]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
dict.setdefault(5)
print(dict)

{0: ' Data', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy', 5: None}

#### 2.H) dict.update():

In [76]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
dict.update({0:"sd"})
print(dict)

{0: 'sd', 1: 'GREAT', 2: 'LEARNING', 3: 'Python', 4: 'Happy'}

 #### 2.L)  dict.values():

In [77]:
dict = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}
print(dict.values())

dict_values([' Data', 'GREAT', 'LEARNING', 'Python', 'Happy'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Use if statement to determine if 13 is greater than 25.

In [80]:
if(13>25):
    print(True)
else:
    print(False)

False

##### 2. Write a python program to get input from the user and determine if number is divisible by 25?

In [81]:
num=int(input())
if(num%25==0):
    print("divisible")
else:
    print("not divisible")

50
divisible

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [83]:
a=154
b=2451
c=6054
if(a>b and a>c):
    print(a)
elif(b>c and b>a):
    print(b)
else:
    print(c)

6054

# while Loop

### 1. Write a code to print (1,10) using while loops

In [87]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

# For Loop:

### 1. Write a code to print each character in a given string using for loop.

In [88]:
s="anishwar"
for i in s:
    print(i)

a
n
i
s
h
w
a
r

#### 2. Write a code to print the numbers in the range (1,10) which breaks when the number is 3.

In [93]:
for i in range(1,11):
    if(i==3):
        break;
    print(i)

1
2

### 3. Write a code to print the numbers in the range (1,10) except 3.

In [92]:
for i in range(1,11):
    if(i==3):
        continue
    print(i)

1
2
4
5
6
7
8
9
10