# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [1]:
import pandas as pd
import os

**Q.no(1). load the Data 'games.csv' as games.**

In [2]:
games=pd.read_csv('games.csv')

In [3]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

In [4]:
games.shape

(81312, 20)

-----

**Q.no(2). Check the head of the DataFrame.**

In [5]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [6]:
games.shape

(81312, 20)

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [7]:
games['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [12]:
games.loc[games['total_comments']==games['total_comments'].max(),'name'].unique()

array(['Catan'], dtype=object)

-------

**Q.no(6).What is the name of the game with id 1500.**

In [15]:
games.loc[games['id']==1500,'name']

10592    Zocken
Name: name, dtype: object

In [18]:
games.duplicated().value_counts()

False    79463
True      1849
dtype: int64

------

**Q.no(7).which year the game with id 1600 was published.**

In [21]:
games.loc[games['id']==1600,['yearpublished','name']]

       yearpublished              name
13270         1986.0  Russian Roulette

-----

**Q.no(8).Which game has received highest number of comments.**

In [23]:
games.loc[games['total_comments']==games['total_comments'].max(),'name'].unique()

array(['Catan'], dtype=object)

-----

**Q.no(9).Which games have received least number of comments**

In [29]:
games.loc[games['total_comments']==games['total_comments'].min(),['name','total_comments']]

                                                    name  total_comments
13048                                         Looney Leo               0
13054                                               Dump               0
13068                                      Field of Fire               0
13095                                           Matheeno               0
13103  Auction America: The Trivia Game for Any Colle...               0
...                                                  ...             ...
81307                               Micro Rome: Aegyptus               0
81308  Trivial Pursuit: Marvel Cinematic Universe  Da...               0
81309                                          BEARanoia               0
81310                                            Freight               0
81311                                  Bingo Animal Kids               0

[29001 rows x 2 columns]

-----

**Q.no(10).How many unique games are there in the dataset.**

In [39]:
games['name'].unique()

array(['Twilight Struggle', 'Terra Mystica', 'Caverna: The Cave Farmers',
       ..., 'BEARanoia', 'Freight', 'Bingo Animal Kids'], dtype=object)

In [35]:
np.set_printoptions(threshold=1000)

----

**Q.no(11).How many game types are present in the dataset.**

In [40]:
games['type'].value_counts()

boardgame             70820
boardgameexpansion    10492
Name: type, dtype: int64

In [41]:
games['type'].count()

81312

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [45]:
games.sort_values(by='average_rating',axis=0)[['name','average_rating']]

                                          name  average_rating
81311                        Bingo Animal Kids             0.0
46614                              Kugel-Duell             0.0
46615            Langohr, Schlitzohr, Rbe & Co             0.0
46616                                Latty Top             0.0
46617  Golden Years  Retirement Adventure Game             0.0
...                                        ...             ...
76117                                 AEROSTAR            10.0
76116                                 Renegade            10.0
55328                              The Puzzler            10.0
80276                              Filthy Mime            10.0
64898   Kingdom Death: Monster  Gorm Expansion            10.0

[81312 rows x 2 columns]

----

**Q.no(13) Show the average ratings of games in descending order.**

In [47]:
games.sort_values(by='average_rating',axis=0,ascending=False)[['name','average_rating']]

                                                    name  average_rating
74808  Age of Conan: The Strategy Board Game  Adventu...            10.0
62260                                       -(Mathul8)^2            10.0
72670                                             Kamara            10.0
78071                              Vinhos Deluxe Edition            10.0
79305            Zombicide: Black Plague Survivor  Gowan            10.0
...                                                  ...             ...
50664                                Battleships Zenith!             0.0
50661                                  Along Bible Roads             0.0
50659                                         Renpaarden             0.0
50653                          The Stork Didn't Bring Me             0.0
81311                                  Bingo Animal Kids             0.0

[81312 rows x 2 columns]

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [53]:
games['ave rating rank']=games['average_rating'].rank(method='dense')

In [54]:
games.sort_values(by='ave rating rank',axis=0)

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,...,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight,ave rating rank
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,...,0.0,0.0,0,0,0,0,0,0,0.0,1.0
46614,57399,boardgame,Kugel-Duell,1980.0,2.0,2.0,15.0,15.0,15.0,8.0,...,0.0,0.0,1,0,1,0,0,0,0.0,1.0
46615,57401,boardgame,"Langohr, Schlitzohr, Rbe & Co",1983.0,2.0,4.0,15.0,15.0,15.0,5.0,...,0.0,0.0,2,1,0,0,1,0,0.0,1.0
46616,57402,boardgame,Latty Top,1983.0,2.0,4.0,30.0,30.0,30.0,8.0,...,0.0,0.0,0,0,0,0,0,0,0.0,1.0
46617,57407,boardgame,Golden Years Retirement Adventure Game,1988.0,2.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1,1,0,0,0,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76117,170606,boardgame,AEROSTAR,2014.0,2.0,5.0,60.0,60.0,60.0,12.0,...,10.0,0.0,3,0,0,0,1,1,5.0,17564.0
76116,170604,boardgame,Renegade,2015.0,1.0,4.0,90.0,30.0,90.0,11.0,...,10.0,0.0,4,0,4,42,2,0,0.0,17564.0
55328,98868,boardgame,The Puzzler,0.0,2.0,4.0,60.0,60.0,60.0,10.0,...,10.0,0.0,1,0,0,0,0,1,1.0,17564.0
80276,181491,boardgame,Filthy Mime,2015.0,3.0,0.0,90.0,30.0,90.0,17.0,...,10.0,0.0,1,0,0,3,3,0,0.0,17564.0
64898,135036,boardgameexpansion,Kingdom Death: Monster Gorm Expansion,2015.0,1.0,6.0,30.0,30.0,30.0,18.0,...,10.0,0.0,36,0,2,4,3,1,4.0,17564.0

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------